@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 500;
    src: url('WorkSans-Italic-500.woff2') format('woff2');
  }

*, *::before, *::after{
    font-family: 'Work Sans', sans-serif;
}

.bg-nav{
    background-color: #000;
}

.nav-item .nav-link {
    padding: 20px 0px;
}

.nav-btn-lg {
    background-color: white;
    color: #000;
    font-size: 0.8rem;
    border: 1px solid transparent;
    border-radius: 5px; 
    text-decoration: none;
    outline: none;
    text-align: center;
    width: 120px;
    height: 60px;
}


.nav-btn-lg:hover{
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    outline: none;
}

.custom-container {
    width: 1850px; 
    margin: 0 auto;
    padding: 15px 22px;
}

.nav-section{
    padding-top: 110px;
}

.content-wrapper {
    display: flex;
}

.column-left {
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-right {
    flex: 55%;
}

.column-right img {
    width: 100%;
}

.fundraise-bg{
    background-color: #005740;
}

.fundraise-text-color{
    color: #f0f0f0;
}

.big-text{
    font-size: 4.5rem;
    font-weight: bold;
}

.green-text{
    color: #005740;
}

.vertical-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vertical-stack > * {
    margin-right: 40px;
    margin-left: 40px;
}

.big-btn{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 60px;
    border: none;
    background-color: #F4A900;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
}

.big-btn:hover {
    background-color: #fcc440;
    color: #000;
    text-decoration: none;
    outline: none;
}
