@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 500;
    src: url('WorkSans-Italic-500.woff2') format('woff2');
  }

*, *::before, *::after{
    font-family: 'Work Sans', sans-serif;
}

.bg-nav{
    background-color: #000;
}

.nav-item .nav-link {
    padding: 20px 0px;
}

.nav-btn-lg {
    background-color: white;
    color: #000;
    font-size: 0.8rem;
    border: 1px solid transparent;
    border-radius: 5px; 
    text-decoration: none;
    outline: none;
    text-align: center;
    width: 120px;
    height: 60px;
}


.nav-btn-lg:hover,
.nav-btn-lg:focus {
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    outline: none;
}

.custom-container {
    width: 1850px; 
    margin: 0 auto;
    padding: 15px 22px;
}
